.Rproj.user
.Rhistory
.RData
.Ruserdata
*.fa
*.maf
*.gp
*.pdf
*.gff
*.gz
data/nano.save

results/subTreeAlignmentDepth.wig

*.bed

*.tsv

results/subTreeAlignmentDepth.genome

results/short_subTreeAlignmentDepth.wig

*.idx

results/subTreeAlignmentDepth.wig.tdf
